<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">E-Commerce</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/productos'">Lista de Productos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/carrito'">Carrito</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/subir-producto'">Subir Producto</a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br><br>
<section class="h-100 w-100">
   <div class="row h-100 w-100">
        <div class="col-xs-12 col-md-8">
                <div class="row no-gutters "  *ngFor="let item of items; index as i;">
                        <div class="col-md-4">
                                <ngb-carousel>
            
                                        <ng-template ngbSlide>
                                            <div class="picsum-img-wrapper">
                                                <img src="https://picsum.photos/900/500?random" class="d-block w-100" alt="...">
                                            </div>
                                        </ng-template>
                                        
                                        <ng-template ngbSlide>
                                            <div class="picsum-img-wrapper">
                                                <img src="https://picsum.photos/900/500?random" class="d-block w-100" alt="...">
                                            </div>
                                        </ng-template>
                                        
                                    </ngb-carousel>
                        </div>
                        <div class="col-md-8" style="border:1px solid rgb(226, 223, 223) ">
                          <div class="card-body" >
                            <h5 class="card-title">{{ item.product.title }}</h5>
                            <p class="card-text">{{ item.product.description }}</p>
                            <p class="card-text text-success">{{ item.product.price }} cop</p>
                          </div>
                        </div>
                    </div>
        </div>
        <div class="col-xs-12 col-md-4" style="border: 1px solid rgb(68, 67, 67); background-color: rgb(224, 222, 222); position:fixed;height: 100%; right: 0;">
            <h1>CARRITO</h1>
            <h3>costo: {{total}} Cop</h3>
            <h3>iva: 6%</h3>
            <h3>total: {{total*0.6+total}} Cop</h3>
            <button class="btn btn-primary" [routerLink]="'/productos'">Comprar</button>
        </div>
   </div> 
</section>
