<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">E-Commerce</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/productos'">Lista de Productos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/carrito'">Carrito</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/subir-producto'">Subir Producto</a>
                </li>
            </ul>
        </div>
</nav>
<br><br><br>
<section class="h-100 w-100" style="padding: 35px;">
    <div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2 h-100">
        <div class="list-group" >
            <button type="button" (click)="listarproductos()" class="list-group-item list-group-item-action">Todo</button>
            <div *ngFor="let categoria of categorias; index as i;">
                <button  type="button" (click)="categoria_filter( categoria.name )" class="list-group-item list-group-item-action">{{categoria.name}}</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 row ">
    <div  *ngFor="let item of items; index as i;" class="col-xs-12 col-sm-6 col-md-5 mb-4">
        <div  class="card " style="width: 18rem;">
            <div class="card-img-top">
                    <ngb-carousel>

                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img src="https://picsum.photos/900/500?random" class="d-block w-100" alt="...">
                            </div>
                        </ng-template>
                        
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img src="https://picsum.photos/900/500?random" class="d-block w-100" alt="...">
                            </div>
                        </ng-template>
                        
                    </ngb-carousel>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-3 col-md-6">
                        <ngb-rating [(rate)]="item.rating"  max="5" >
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>
                        </ngb-rating>
                    </div>
                    <div class="col-xs-3 col-md-6">
                        <b class="valoracion">Valoración: {{ item.rating }}</b>
                    </div>
                </div> 
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text text-success">{{ item.price }} cop</p>
                <button class="btn btn-primary" (click)="productos( item.id )" >Añadir al Carrito</button>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>