<section class="w-100 h-100">
    <div class="d-flex justify-content-center align-items-center h-100"  >
            <div class="login card bg-light">
                <div class="card-header text-center">E-Commerce</div>
                <div class="card-body">
                    <br>
                    <form class="text-center"  [formGroup]="login" (ngSubmit)="onloginUser(login.value)">
                        <div class="form-group">
                            <label >User Name</label>
                            <input type="text" class="form-control" name="user" formControlName="user"  placeholder="user name">
                        </div>
                        <div class="form-group">
                            <label >Contraseña</label>
                            <input type="password" class="form-control" name="pass" formControlName="pass" placeholder="contraseña">
                        </div>
                        <button type="submit" class="btn btn-success mt-2"> Iniciar Sesion </button>
                    </form>
                </div>
            </div>
    </div>
</section>