<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">E-Commerce</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/productos'">Lista de Productos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/carrito'">Carrito</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/subir-producto'">Subir Producto</a>
                </li>
            </ul>
        </div>
</nav>
<section class="w-100 h-100">
        <div class="d-flex justify-content-center align-items-center h-100"  >
                <div class="login card bg-light">
                    <div class="card-header text-center">E-Commerce</div>
                    <div class="card-body">
                        <br>
                        <form class="text-center"  [formGroup]="subir" (ngSubmit)="agregar(subir.value)">
                            <div class="form-group">
                                <label >Nombre</label>
                                <input type="text" class="form-control" name="nombre" formControlName="nombre">
                            </div>
                            <div class="form-group">
                                <label >Descripcion</label>
                                <input type="text" class="form-control" name="descripcion" formControlName="descripcion" >
                            </div>
                            <div class="form-group">
                                <label >Precio</label>
                                <input type="text" class="form-control" name="precio" formControlName="precio" >
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="activo" formControlName="activo" value="true">
                                <label class="form-check-label" for="defaultCheck1">
                                    Activo
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Categoria</label>
                                <select multiple class="form-control"  name="categoria" formControlName="categoria"  >
                                    <option *ngFor="let categoria of categorias; index as i;" [ngValue]="categoria.pk" >{{categoria.name}}</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success mt-2"> Guardar </button>
                        </form>
                    </div>
                </div>
        </div>
    </section>